body {
  background-color: #EAEAEA;
}

h2 {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 4em;
  text-shadow: 0px 2px 3px #555;
  margin: 0;
  padding: 0;
}

div {
  text-align: center;
}

img {
  background-color: #DAE8EC;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid #B8CB99;
  padding: 5px;
}

img:hover {
  border-color: #FF0000;
}
